 @import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lateef:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

 *
 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  

  
}
.header
{
  background-color: black;
    font-family: 'Passions Conflict', cursive;
    font-weight: 200;
    font-size: 3rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
   
    

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3e2c7+0,e9d4b3+44,c19e67+50 */
color: #f3e2c7; /* Old browsers */
color: -moz-linear-gradient(top,  #f3e2c7 0%, #e9d4b3 44%, #c19e67 50%); /* FF3.6-15 */
color: -webkit-linear-gradient(top,  #f3e2c7 0%,#e9d4b3 44%,#c19e67 50%); /* Chrome10-25,Safari5.1-6 */
color: linear-gradient(to bottom,  #f3e2c7 0%,#e9d4b3 44%,#c19e67 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#c19e67',GradientType=0 ); /* IE6-9 */
    
}
.main
{
  display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    padding-top: 2rem;
    padding-left: 6rem;
  
}
.left-box
{

max-width:50rem;

}
.right-box
{ 
  max-width:65rem;
margin-left: 7rem;
margin-right:7rem;
}
.img2
{
  width: 19rem;
  height:19rem;
  float:none;
  border-radius: 50%;
  border: 6px solid#1abab5;
  

}
.img
{
  padding-right: 2rem;
  
}
.name
{
  font-family: 'Courgette', cursive;
  font-size: 2.8rem;
  background-image: -webkit-linear-gradient(90deg, #1b6197 50%,#1abab5 34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name1
{
  font-family: 'Courgette',cursive;
  font-size: 2.4rem;
  background-image: -webkit-linear-gradient(90deg, #1b6197 50%,#1abab5 34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.text1
{
 font-family:serif;
padding-top: 1rem;
 font-style: italic;
  font-size: 1.6rem;
  line-height:1.8rem;
  align-items:center;
  color:#1b6197;


}
.text3
{
 font-weight: bold;
 color:#0e4f80;
}

.name:hover{
transform:scale(1.1);
}
.img2:hover
{
  transform:scale(1.1);
}
.list
{
  background-color: black;
  list-style-type: none;
  display: flex;
}
.ulist
{
  margin:12px;
}
.ulist:hover {
  color: rgb(127, 254, 212);
}